body{
	background-color: #b3d9ff;
}

.jumbotron{
	margin-top: 10%;
	background-color: #e6f2ff;
	color: #000d1a;
}

.panel-heading{
	background-color: #e6f2ff;
	color: #000d1a;
}

.friendPicture {
	margin: 20px;
	overflow: auto;
	display: inline-block;
}